name: Add issues to project board
on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    uses: Quantinuum/hugrverse-actions/.github/workflows/add-to-project.yml@main
    with:
      project-url: https://github.com/orgs/quantinuum/projects/23
    secrets:
      GITHUB_PAT: ${{ secrets.HUGRBOT_PAT }}
